<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pw.swordfish.android.xposed.sip"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application android:label="Native Sip Custom User Agent" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Enables you to change the native sip client user agent." />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>
</manifest>
